<div class="col-xs-12 nav" *ngIf="shopService.shop">
  <div class="col-xs-7 cart">
    <span class="glyphicon glyphicon-shopping-cart"></span>Cart.ly <button class="shopSelect" (click)="shopService.navigateTo('shop')">Shop</button>
  </div>
  <div class="col-xs-5 rightAlign" (click)="shopService.navigateTo('cart')">
    <button class="cartBtn">Your Cart &nbsp;<span class="counter">{{shopService.counter}}</span></button>
  </div>
</div>
<div class="col-xs-12 nav" *ngIf="!shopService.shop">
  <div class="col-xs-7 cart">
    <span class="glyphicon glyphicon-shopping-cart"></span>Cart.ly <button class="shopBtn" (click)="shopService.navigateTo('shop')">Shop</button>
  </div>
  <div class="col-xs-5 rightAlign" (click)="shopService.navigateTo('cart')">
    <button class="cartBtn"><span class="underline">Your Cart</span> &nbsp;<span class="counter">{{shopService.counter}}</span></button>
  </div>
</div>