.centerText{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top:20vh;
}

.noItem{
    text-align: center;
    font-size: 20px;
    margin-top:10vh;
}

.centerLine{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top:8vh;
}

.total{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.removeBtn{
    background-color: transparent;
    border: 0;
    color: lightgray;
}

.itemImg{
    text-align:right;
}

.centerBtn{
    text-align: center;
    margin: auto;
}

.backBtn{
    background-color: transparent;
    border-radius: 2px;
    color: grey;
    width: 100px;
}

.itemCart{
    margin-bottom: 2vh;
}

.price{
    font-size: 18px;
}